name: CI

on: [push]

permissions:
  contents: write

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install SBCL
        run: sudo apt-get install -y sbcl
      - name: Install Quicklisp
        run: |
          curl -O https://beta.quicklisp.org/quicklisp.lisp
          sbcl --noinform --non-interactive \
               --load quicklisp.lisp \
               --eval '(quicklisp-quickstart:install :path "quicklisp")' \
               --quit
      - name: Run tests
        run: |
          sbcl --noinform \
               --load quicklisp/setup.lisp \
               --eval "(push #p\"$GITHUB_WORKSPACE/\" asdf:*central-registry*)" \
               --eval "(ql:quickload :acc/test)" \
               --eval "(fiveam:run-all-tests)" \
               --quit
  coverage:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v5
        - name: Install SBCL
          run: sudo apt-get install -y sbcl
        - name: Install Quicklisp
          run: |
            curl -O https://beta.quicklisp.org/quicklisp.lisp
            sbcl --noinform --non-interactive \
                --load quicklisp.lisp \
                --eval '(quicklisp-quickstart:install :path "quicklisp")' \
                --quit
        - name: Generate badge
          run: |
            sbcl --noinform \
                --load quicklisp/setup.lisp \
                --eval "(push #p\"$GITHUB_WORKSPACE/\" asdf:*central-registry*)" \
                --script .github/scripts/coverage.lisp \
                --quit
            cat shields.txt | xargs curl > badge.svg
        - name: Commit badge
          run: |
            git config user.name "github-actions"
            git config user.email "actions@github.com"
            git checkout --orphan coverage
            git rm -rf .
            git add badge.svg
            git commit -m "update coverage"
            git push origin coverage --force